{% extends 'form_template.html' %}
{% block title %} Server Error{% endblock %}
{% block main %}
<!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

        <div class="section-header">
          <h2 class='fs-2 mb-2'>500 Server Error!</h2>
          <p class='text-muted mb-2'>An error in our server has occured. The IT team is working on it.</p>
        <a class='d-block' href='javascript: history.back();'> Back </a>
        <a href='{% url "home" %}'> Go Back To Homepage </a>
        </div>

      </div>

    </section><!-- End Contact Section -->
{% endblock %}